page-login {
    .toolbar-background {
        background-color: color($colors, primary,base);
        
      }
      .content {
        background-color:#ebd3c5;
    }
      .toolbar-title {
        color: #ffffff !important;
      }
      .back-button {
        color: #ffffff !important;
      }
      .button {
          width: 300px;
      }      
      .method-text{
          color:#8d3f00;
      }
}
