page-novel-type {
    .toolbar-background {
        background-color: color($colors, primary,base);
        
      }
      .toolbar-title {
        color: #ffffff !important;
      }
      .back-button {
        color: #ffffff !important;
      }
}
