page-about-me {
	.toolbar-background {
		background-color: color($colors, primary,base);
	}
	.toolbar-title {
		color: #ffffff !important;
	}

	.item[no-lines].bottom-border { 
    border-bottom: 1px solid grey; 
	}
	.content {
        background-color:#ebd3c5;
    }
  
	.item-ios{
		font-size: 1.5rem;
	}
    

}
